
table{
    width:100%;
    text-align:center;
    font-size: 20px;
  font-weight: bold;
    color: #060C0D;
}
th {1
  font-size: 13px;
  font-weight: normal;
  background: #2B4040;
  border-top: 4px solid #2B4040;
  border-bottom: 1px solid white;
  padding: 8px;
    width:100%;
     font-size: 40px
}
td {
/*   background: #e8edff; */
  border-bottom: 1px solid white;
  border-top: 1px solid transparent;
  padding: 8px;
}
tr:hover td {
  background: #3B4BDB;
}
th:first-child, th:last-child{
    width:fit-content;
}
tr{
    background: #798C83
}
tr:nth-child(even) {
    background-color: #97A69B
}
body{
  background:#465956;
}