<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/vkTheme.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/cat.css">
    <meta charset="UTF-8">
    <title>Cat</title>
</head>
<body>
    <p>КОТ В МЕШКЕ</p>
    <div th:if="${cat.mediaType} == 'IMAGE'">
        <img th:src="${cat.mediaPath}" alt="Image">
    </div>
    <div th:if="${cat.mediaType} == 'VIDEO'">
        <video controls autoplay>
            <source th:src="${cat.mediaPath}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div th:if="${cat.mediaType} == 'AUDIO'">
        <audio controls autoplay>
            <source th:src="${cat.mediaPath}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    <div id="button">
        <a id="goToQuestion" th:href="@{/question(questionId=${cat.id})}">question</a>
    </div>
    <script>
        document.addEventListener('keydown', (event) => {
            console.log(event);
            if(event.key === 'Enter') {
                document.getElementById('goToQuestion' +
                    '').click();
            }
        });
    </script>
</body>
</html>
