<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Question Desk</title>
</head>
<body>
<form th:object="${desk}"></form>
    <table>
        <tr th:each="item : ${desk}">
            <td th:if="${item.key.passed} == false">
                <span th:text="${item.key.name}">Topic</span>
            </td>
            <td th:each="q : ${item.value}" th:if="${item.key.passed} == false">
                <div th:if="${q.passed} == false">
                    <a th:href="@{/question(topicNumber=${item.key.getId().topicNumber},questionNumber=${q.getId().questionNumber})}">
                        <span th:text="${q.cost}"></span>
                    </a>
                </div>
            </td>
        </tr>
    </table>

</body>
</html>