<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/desk.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/vkTheme.css">
    <meta charset="UTF-8">
    <title>Question Desk</title>
</head>
<body>
<table>
    <tr th:each="item : ${desk}">
        <td>
            <span th:text="${item.name}">Topic</span>
        </td>
        <td th:each="cost : ${item.costs}">
            <div th:if="${cost.passed} == false">
                <a th:if="${cost.cat} == false" th:href="@{/question(questionId=${cost.id})}">
                    <span th:text="${cost.cost}"></span>
                </a>
                <a th:if="${cost.cat} == true" th:href="@{/cat(questionId=${cost.id})}">
                    <span th:text="${cost.cost}"></span>
                </a>
            </div>
        </td>
    </tr>
</table>
<div id="button">
    <a th:href="@{/round}">round</a>
</div>
</body>
</html>
