<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/vkTheme.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/question.css">
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<div>
    <p th:text="${question.question}">Question</p>

    <div th:if="${question.mediaType} == 'IMAGE'">
        <img th:src="${question.mediaPath}" alt="Image">
    </div>

    <div th:if="${question.mediaType} == 'VIDEO'">
        <video controls autoplay autofocus>
            <source th:src="${question.mediaPath}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div th:if="${question.mediaType} == 'AUDIO'">
        <audio controls autoplay autofocus>
            <source th:src="${question.mediaPath}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
<div id="button">
    <a id="goToAnswer" th:href="@{/answer(questionId=${question.id})}">answer</a>
</div>
<script>
    document.addEventListener('keydown', (event) => {
        console.log(event);
        if(event.key === 'Enter') {
            document.getElementById('goToAnswer').click();
        }
    });
</script>
</body>
</html>
