<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/vkTheme.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/question.css">
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<form th:object="${desk}"></form>
<div>
    <p><span th:text="${question.question}">Question</span></p>
    <div th:if="${question.mediaType} == 'IMAGE'">
        <img th:src="${question.mediaPath}" alt="Image">
    </div>
    <div th:if="${question.mediaType} == 'VIDEO'">
        <video controls autoplay>
            <source th:src="${question.mediaPath}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div th:if="${question.mediaType} == 'AUDIO'">
        <audio controls autoplay>
            <source th:src="${question.mediaPath}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>

<br/>
<!--<h2><span th:text="${question.hint}">Hint</span></h2>-->
<div id="answerField" class="answer">
    <p><span th:text="${question.answer}">answer</span></p>
</div>
<button id="toDeskButton" class="navButton" onclick="location.href='/desk';">desk</button>

<button id="answerButton" onclick="showAnswer()">Show answer</button>
</body>
<script src="/resources/js/question.js"></script>
</html>
