<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/round.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/vkTheme.css">
    <meta charset="UTF-8">
    <title>Round</title>
</head>
<body>
<table id="round-table">
    <tr th:each="round : ${listOfRounds}">
        <td>
            <a th:href="@{/nextRound(roundId=${round.id})}">
                <span th:text="${round.name}">Title</span>
            </a>
        </td>
    </tr>
</table>
<div id="button">
    <a th:href="@{/}">main</a>
</div>
</body>
</html>
