<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Round</title>
</head>
<body>
<table>
    <tr>
        <th>№</th>
        <th>Title</th>
    </tr>
    <tr th:each="rounds : ${listOfRounds}" th:if="${rounds.passed} == false">
        <td>
            <span th:text="${rounds.getId().roundNumber}">ID</span>
        </td>
        <td>
            <a th:href="@{/nextRound(roundNumber=${rounds.getId().roundNumber})}">
                <span th:text="${rounds.name}">Title</span>
            </a>
        </td>
    </tr>
</table>
</body>
</html>