<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<a href="/signUp">Registration</a>
<form action="/signIn" method="post">
    <label>Email
        <input type="email" placeholder="input email" name="email">
    </label>
    <label>password
        <input type="password" placeholder="input password" name="password">
    </label>
    <label>
        <input type="checkbox" name="rememberMe">remember me
    </label>

    <input type="submit">
</form>

</body>
</html>
